@import url('https://fonts.googleapis.com/css?family=Poppins');

/*var de cor */
:root {
    --branco: #FDFDFD;
    --cinza: #F2F2F2;
    --cinza-escuro: #606060;
    --verde-claro: #C6E070; 
    --verde-escuro: #91C46C;
    --azul-claro: #23A6C2;
    --azul-escuro: #074E6C;
    --laranja: #ef871e;
}

*{
    font-family: Poppins;
    background-color: var(--branco);
}

main{
    margin-left: 50px;
    margin-right: 50px;
}

h1{
    font-size: 27px;
    font-weight: 600;
}

h2{
    font-size: 23px;
    font-weight: 600;
}

h3{
    font-size: 18px;
    font-weight: bold;
}

p{
    font-size: 16px;
    color: var(--cinza-escuro);
}

small{
    font-size: 13px;
}

#logo-header{
    left: 15px;
    top: 15px;
    position: absolute;
    background-color: var(--verde-escuro);
}

#logo-footer{
    background-color: var(--verde-claro);
    padding-top: 25px;
}

header > nav{
    left: 0px;
    top: 0px;
    background-color: var(--verde-escuro);
    padding-bottom: 10px;
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 58px;
}

footer > nav {
    background-color: var(--verde-claro);
}

header > nav > a{
    color: var(--azul-escuro);
    background-color: var(--verde-escuro);
    font-weight: 600;
    align-items: center;
    padding: 0px 5px 0px 5px;
}

header > nav > a:hover{
    background-color: var(--azul-claro);
}

.btn-danger{
    color: #ef871e;
}
.btn-danger:hover{
    color: chartreuse;
}

footer > nav > a, footer > nav > div > div {
    color: var(--cinza-escuro);
    background-color: var(--verde-claro);
    padding: 0px 5px 50px 5px;
}

#a_footer{
    display: flex;
    align-items: left;
    justify-items: left;
    justify-content: center ;
    background-color: var(--verde-claro);
}

#a_footer > a{
    padding: 25px;
    background-color: var(--verde-claro);
}

#a_footer > a:hover{
    background-color: var(--azul-claro);
}

#button-doacao{
    background-color: var(--laranja);
    border: var(--laranja);
    font-weight: 600;
    font-size: 18px;
    color: var(--azul-escuro);
    width: 400px;
    height: 118px;
}

#button-parceiro{
    border-style: hidden;
    font-weight: 600;
    font-size: 18px;
    background-color: var(--azul-escuro);
    color: var(--verde-claro);
    width: 400px;
    height: 118px;
}

#button-doacao:hover{
    background-color: var(--azul-claro);
    cursor: pointer;
}

#button-parceiro:hover{
    background-color: var(--verde-claro);
    color: var(--azul-escuro);
    cursor: pointer;
}

#descricao{
    margin: 25px 50px 72px 50px;
    padding: 20px;
    background-color: var(--verde-claro);
    border-radius: 10px;
}

#descricao > p{
    background-color: var(--verde-claro);
    padding-left: 122px;
    padding-right: 122px;
}

#descricao > p:first-child{
    font-weight: 900;
}

.container{
    display: flex;
    flex-direction: row;
}
.card > img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--verde-escuro);
    width: 33%;
    margin: 5px;
    padding: 0 0 5px 0;
    border-radius: 10px;
}

.titulo-card{
    background-color: var(--azul-claro);
    color: var(--azul-escuro);
    border-radius: 10px 10px 0 0;
    width: 100%;
    font-weight: 600;
    text-align: center;
}

.card > button{
    background-color: var(--azul-escuro);
    color: var(--verde-claro);
    border-radius: 10px;
    border: none;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}

.card > button:hover{
    background-color: var(--azul-claro);
    color: var(--azul-escuro);
}

.card > p{
   background-color: var(--verde-escuro);
   color: var(--cinza-escuro); 
   font-weight: bold;
}

#redessociais{
    margin: 0px 0px 0px 90px ;
}

#copyright{
   text-align: center;
}